header
{
  background-color: #2A8A85;
  text-align: center;

  h1{
    font-size: 5rem;
    font-weight: 800;
    line-height: 70px;
    color:white;
  }

  p{
    font-size: 1.2rem;
    font-weight: 400;
    background-color: #E2DFDF;
    color:#2A8A85;
  }
}
